.div__main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 100px 100px 300px 100px;
  padding: 50px;
  max-width: 1500px;
  margin: auto;
}

/* 商品 */
.div__item {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;

  .img__item-image{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .div__item-info{
    padding: 30px;
    margin-left: 20px;

    .p__item-price{
      font-size: 1.1rem;
    }
  }
}

/* 支払い方法 */
.div__payment {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  line-height: 50px;

  .h3__payment{
    margin: 0;
  }
}

/* 配送先 */
.div__delivery {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  line-height: 50px;

  .h3__delivery{
    margin: 0;
  }
}

/* まとめ */
.div__summary {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  border: solid 1px #ACACAC;
  margin-right: 5%;
  margin-bottom: 50px;
  padding: 8%;

  .table__summary{
    font-size: 1.0rem;
    width: 100%;
  }

  .tr__item-price{
    height: 80px;
  }

  .tr__payment-price{
    height: 50px;
  }

  .tr__payment-method{
    height: 50px;
  }

  th,td{
    width: 50%;
    text-align: left;
  }
}

/* 購入 */
.div__purchase {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin-right: 5%;

  /* .button__purchase {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 3px;
    margin: 5px 0;
  } */

  .a__purchase {
    background-color: #FF5556;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 3px;
    margin: 5px 0;
  }

  /* .stripe-button-el {
    background-image: none;
    background-color: #FF5556;
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-size: 1.1rem;
    border-radius: 3px;
    margin: 5px 0;
  }

  .stripe-button-el:not(:disabled):active{
    background-image: none;
    background-color: #FF5556;
  }

  .stripe-button-el span{
    background-image: none;
    background-color: #FF5556;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
  }

  .stripe-button-el span:not(:disabled):active {
    background-image: none;
    background-color: #FF5556;
    box-shadow: none;
    -webkit-box-shadow: none;
  } */
}

@media screen and (max-width : 768px) {
  .div__item{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;

    .img__item-image{
      margin: 0 auto;
    }

    .div__item-info{
      margin: 0;
      padding: 5px 0;
      
      .h3__item-name{
        margin: 0;
        margin-right: 20px;
      }

      .p__item-price{
        margin: 0;
        margin-left: 10px;
      }
    }
  }

  .div__payment{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin-top:20px;
  }

  .div__delivery{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }

  .div__summary{
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }

  .div__purchase{
    grid-row: 5 / 6;
    grid-column: 1 / 4;
  }
}